
// this text contains an JSON array of JWKS files
const CLIENT_JWKS = {
    'jba' : ${jba_jwks_key}
    ,
    'jbt' : ${jbt_jwks_key}
}

// "emails" is a list of JB account emails that should have access to the private preview feed
const PREVIEW_JBA_EMAILS = { emails: [], x: ${jba_preview_emails} }

exports.CLIENT_SECRET = CLIENT_JWKS;
exports.PREVIEW_JBA_EMAILS = PREVIEW_JBA_EMAILS;
